.basic-link,.emaki-custom ol li a,.emaki-custom ul li a,.w-gfycat a {
    font-size: 1em;
    font-weight: 400;
    color: #333;
    text-decoration: none;
    transition: all .2s ease;
    border-bottom: 2px solid #bf0d0b
}

@media screen and (prefers-color-scheme: dark) {
    .basic-link,.emaki-custom ol li a,.emaki-custom ul li a,.w-gfycat a {
        color:#d3d3d3
    }
}

@media(min-width: 1024px) {
    .basic-link:hover,.emaki-custom ol li a:hover,.emaki-custom ul li a:hover,.w-gfycat a:hover {
        color:#fff;
        background: #bf0d0b
    }
}

.basic-link:empty,.emaki-custom ol li a:empty,.emaki-custom ul li a:empty,.w-gfycat a:empty {
    display: none
}


.emaki-custom {
    position: relative;
    margin-bottom: 32px
}

.emaki-custom h1,.emaki-custom h2,.emaki-custom h3 {
    font-family: Roboto,sans-serif;
    margin-bottom: .8em
}

.emaki-custom h1 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333
}

@media(min-width: 1024px) {
    .emaki-custom h1 {
        font-size:2rem
    }
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom h1 {
        color:#d3d3d3
    }
}

.emaki-custom h2 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #333
}

@media(min-width: 1024px) {
    .emaki-custom h2 {
        font-size:1.6rem
    }
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom h2 {
        color:#d3d3d3
    }
}

.emaki-custom h3 {
    font-size: 1rem;
    font-weight: 700;
    color: #333
}

@media(min-width: 1024px) {
    .emaki-custom h3 {
        font-size:1.5rem
    }
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom h3 {
        color:#d3d3d3
    }
}

.emaki-custom h3[id*=update] {
    color: #777;
    font-size: 14px
}

.emaki-custom ol,.emaki-custom ul {
    -webkit-margin-before: 8px;
    margin-block-start:8px;-webkit-margin-after: 8px;
    margin-block-end:8px;-webkit-margin-start: 8px;
    margin-inline-start:8px}

.emaki-custom ol:last-of-type,.emaki-custom ul:last-of-type {
    -webkit-margin-after: 16px;
    margin-block-end:16px}

.emaki-custom ol ol,.emaki-custom ol ul,.emaki-custom ul ol,.emaki-custom ul ul {
    -webkit-margin-start: 16px;
    margin-inline-start:16px}

.emaki-custom ol li,.emaki-custom ul li {
    list-style-position: inside;
    font-family: Roboto,sans-serif;
    margin-bottom: 4px;
    font-size: 1rem;
    line-height: 1.25em
}

.emaki-custom ol li:first-of-type,.emaki-custom ul li:first-of-type {
    margin-top: 4px
}

.emaki-custom ol li,.emaki-custom ul li {
    list-style-type: disc;
    color: #181818
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom ol li,.emaki-custom ul li {
        color:#fff
    }
}

.emaki-custom ol li li,.emaki-custom ul li li {
    list-style-type: circle;
    color: #181818
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom ol li li,.emaki-custom ul li li {
        color:#fff
    }
}

.emaki-custom ol li {
    list-style-type: decimal
}

.emaki-custom.note,.emaki-custom.tip,.emaki-custom.warning {
    width: 100%;
    margin: 3rem auto 2rem;
    padding: 24px;
    background-color: #f2f2f2;
    border-bottom: 8px solid #181818
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.note,.emaki-custom.tip,.emaki-custom.warning {
        background-color:#2a2a2a
    }
}

@media(min-width: 1024px) {
    .emaki-custom.note,.emaki-custom.tip,.emaki-custom.warning {
        width:80%;
        margin: 4rem auto 2rem
    }
}

.emaki-custom.note:before,.emaki-custom.tip:before,.emaki-custom.warning:before {
    display: inline-block;
    padding: 4px 16px;
    background-color: #f2f2f2;
    border-top: 8px solid #181818;
    content: "block title";
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    position: absolute;
    top: -32px;
    left: 0
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.note:before,.emaki-custom.tip:before,.emaki-custom.warning:before {
        background-color:#2a2a2a
    }
}

.emaki-custom.warning {
    border-color: #e01a4f
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.warning {
        border-color:#e01a4f;
        color: #e01a4f
    }
}

.emaki-custom.warning:before {
    border-color: #e01a4f;
    /**content: "Warning";**/
    content: "🛑";
    color: #e01a4f
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.warning:before {
        border-color:#e01a4f;
        color: #e01a4f
    }
}

.emaki-custom.tip {
    border-color: #8789c0
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.tip {
        border-color:#8789c0;
        color: #8789c0
    }
}

.emaki-custom.tip:before {
    border-color: #8789c0;
    /**content: "Tip";**/
    content: "📑️️";
    color: #8789c0
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.tip:before {
        border-color:#8789c0;
        color: #8789c0
    }
}

.emaki-custom.note {
    border-color: #ffd10f
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.note {
        border-color:#ffd10f
    }
}

.emaki-custom.note:before {
    border-color: #ffd10f;
    /**content: "Note";**/
    content: "✏️";
    color: #2c2c2c
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.note:before {
        color:#ffd10f
    }
}

.emaki-custom.promoted {
    background: #e0f1d7;
    padding: 3.5rem 1.5rem 1.5rem
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.promoted {
        background:#323232
    }
}

.emaki-custom.promoted:before {
    font-family: icomoon;
    content: "\E958";
    background: #fff;
    border-radius: 80px;
    padding: 5px 8px;
    font-size: 18px;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 1rem;
    bottom: 0;
    display: block;
    color: #83bf2f
}

.emaki-custom.promoted:after {
    content: "Promoted";
    font-size: 1.1rem;
    font-weight: 700;
    color: #333;
    position: absolute;
    top: 1.45rem;
    left: 4rem
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.promoted:after {
        color:#d3d3d3
    }
}

.emaki-custom.update {
    background: #e3ecf1;
    padding: 1.5rem;
    border-left: 0
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.update {
        background:#323232
    }
}

.emaki-custom.update:before {
    font-family: icomoon;
    content: "\E5CA";
    background: #fff;
    border-radius: 80px;
    padding: 5px 8px;
    font-size: 18px;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: none
}

@media(min-width: 768px) {
    .emaki-custom.update:before {
        display:block
    }
}

.emaki-custom.update h3[id*=update] {
    color: #0c0c0c;
    margin-bottom: .2rem;
    padding-left: 0
}

@media(min-width: 768px) {
    .emaki-custom.update h3[id*=update] {
        padding-left:3.5rem
    }
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.update h3[id*=update] {
        color:#d3d3d3
    }
}

#policyContent .static-list .emaki-custom.update li,.emaki-custom.update #policyContent .static-list li,.emaki-custom.update p {
    font-size: 1.6em;
    line-height: 1.4;
    padding-left: 0;
    margin-bottom: .25rem
}

@media(min-width: 768px) {
    #policyContent .static-list .emaki-custom.update li,.emaki-custom.update #policyContent .static-list li,.emaki-custom.update p {
        padding-left:3.5rem
    }
}

#policyContent .static-list .emaki-custom.update li a,.emaki-custom.update #policyContent .static-list li a,.emaki-custom.update p a {
    border-bottom: 2px solid #bf0d0b
}

#policyContent .static-list .emaki-custom.update li a:hover,.emaki-custom.update #policyContent .static-list li a:hover,.emaki-custom.update p a:hover {
    background: transparent;
    color: #bf0d0b
}

@media screen and (prefers-color-scheme: dark) {
    #policyContent .static-list .emaki-custom.update li a:hover,.emaki-custom.update #policyContent .static-list li a:hover,.emaki-custom.update p a:hover {
        color:#b6b4b5
    }
}

@media(min-width: 768px) {
    .emaki-custom.update ol,.emaki-custom.update ul {
        padding-left:3.5rem
    }
}

@media(min-width: 768px) {
    .emaki-custom.update .custom_block-content {
        margin-bottom:16px
    }

    .emaki-custom.update .custom_block-content:last-of-type {
        margin-bottom: 0
    }

    .emaki-custom.update .custom_block-content:first-of-type {
        margin-bottom: 16px
    }
}

.emaki-custom.pullquote {
    margin: 1.5rem auto;
    padding: 1.5rem 0
}

@media(min-width: 1024px) {
    .emaki-custom.pullquote {
        margin:2rem auto;
        padding: 2rem 0
    }
}

#policyContent .static-list .emaki-custom.pullquote li,.emaki-custom.pullquote #policyContent .static-list li,.emaki-custom.pullquote p {
    text-align: center;
    font-weight: 700;
    font-style: italic
}

@media(min-width: 1024px) {
    #policyContent .static-list .emaki-custom.pullquote li,.emaki-custom.pullquote #policyContent .static-list li,.emaki-custom.pullquote p {
        font-size:24px
    }
}

.emaki-custom.pullquote:after,.emaki-custom.pullquote:before {
    position: absolute;
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    color: #bf0d0b;
    font-size: 60px;
    opacity: .2
}

@media(min-width: 1024px) {
    .emaki-custom.pullquote:after,.emaki-custom.pullquote:before {
        font-size:120px
    }
}

.emaki-custom.pullquote:before {
    content: "\F10D";
    top: -20px;
    left: 0
}

@media(min-width: 1024px) {
    .emaki-custom.pullquote:before {
        top:-40px
    }
}

.emaki-custom.pullquote:after {
    content: "\F10E";
    bottom: -20px;
    right: 0
}

@media(min-width: 1024px) {
    .emaki-custom.pullquote:after {
        bottom:-40px
    }
}

.emaki-custom.expandable {
    position: relative;
    height: 200px;
    padding-bottom: 32px;
    box-sizing: content-box;
    overflow: hidden
}

.emaki-custom.expandable.is-expand {
    height: inherit
}

.emaki-custom.expandable.is-expand:after {
    display: none
}

.emaki-custom.expandable.is-expand .custom_block-buttom-area {
    bottom: 4px
}

.emaki-custom.expandable:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg,#fff 10%,hsla(0,0%,100%,0) 48%)
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.expandable:after {
        background:linear-gradient(0deg,#101010 10%,rgba(16,16,16,0) 75%)
    }
}

@media(min-width: 768px) {
    .emaki-custom.expandable:after {
        background:linear-gradient(0deg,#fff 16%,hsla(0,0%,100%,0) 48%)
    }
}

@media screen and (min-width: 768px)and (prefers-color-scheme:dark) {
    .emaki-custom.expandable:after {
        background:linear-gradient(0deg,#101010 16%,rgba(16,16,16,0) 75%)
    }
}

.emaki-custom.expandable .custom_block-buttom-area {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: left
}

@media(min-width: 768px) {
    .emaki-custom.expandable .custom_block-buttom-area {
        bottom:22px
    }
}

.emaki-custom.expandable .custom_block-buttom-area [class*=-button] {
    font-size: 16px;
    font-weight: 400;
    color: #bf0d0b;
    text-align: center;
    text-transform: capitalize
}

.emaki-custom.expandable .custom_block-buttom-area [class*=-button]:hover {
    cursor: pointer;
    color: #8f0a08;
    transition: all .3s ease
}

.emaki-custom.key-points {
    height: 300px;
    padding-bottom: 0
}

@media(min-width: 481px) {
    .emaki-custom.key-points {
        height:auto;
        padding-bottom: 0
    }

    .emaki-custom.key-points:after {
        content: none
    }
}

.emaki-custom.key-points.expandable:after {
    display: block;
    background: linear-gradient(0deg,#fff 18%,hsla(0,0%,100%,0) 48%)
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.key-points.expandable:after {
        background:linear-gradient(0deg,#101010 18%,rgba(16,16,16,0) 75%)
    }
}

.emaki-custom.key-points.expandable .custom_block-buttom-area {
    display: flex;
    justify-content: center;
    bottom: 4px
}

.emaki-custom.key-points.expandable.is-expand:after {
    display: none
}

.emaki-custom.key-points:after {
    display: none
}

.emaki-custom.key-points .title {
    font-size: 1rem;
    padding-bottom: 1rem;
    margin-bottom: .8em;
    align-items: center;
    text-transform: uppercase
}

.emaki-custom.key-points .title:before {
    color: #fff;
    margin-right: .6rem;
    background: #bf0d0b;
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

@media(min-width: 768px) {
    .emaki-custom.key-points .custom_block-content {
        padding-left:1rem;
        border-left: 2px solid #f2f2f2
    }
}

@media screen and (min-width: 768px)and (prefers-color-scheme:dark) {
    .emaki-custom.key-points .custom_block-content {
        border-color:#333
    }
}

.emaki-custom.key-points .custom_block-content ul li {
    font-family: Roboto,sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    color: #0c0c0c;
    margin-bottom: 1rem
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.key-points .custom_block-content ul li {
        color:#f2f2f2
    }
}

.emaki-custom.key-points ul li {
    margin-left: .75rem;
    line-height: 1.5;
    margin-right: 2rem;
    list-style: none
}

@media(min-width: 1024px) {
    .emaki-custom.key-points ul li {
        margin-right:2.5rem
    }
}

.emaki-custom.key-points ul li:before {
    content: "\25AA";
    color: #bf0d0b;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1.2em
}

.emaki-custom.key-points .custom_block-buttom-area {
    display: none
}

@media(min-width: 768px) {
    .emaki-custom.key-points .custom_block-buttom-area {
        display:none!important
    }
}

.emaki-custom.key-points .custom_block-buttom-area [class*=-button]:before {
    content: "\E93A";
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #bf0d0b;
    padding: 3px;
    border-radius: 40px;
    background-color: #ededed
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.key-points .custom_block-buttom-area [class*=-button]:before {
        background-color:#1a1a1a
    }
}

.emaki-custom.key-points .custom_block-buttom-area [class*=-button]:after {
    content: "";
    width: 50%;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    border-top: 1px solid #ededed
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.key-points .custom_block-buttom-area [class*=-button]:after {
        border-color:#1a1a1a
    }
}

#policyContent .static-list .emaki-custom .custom_block-content li,.emaki-custom .custom_block-content #policyContent .static-list li,.emaki-custom .custom_block-content p {
    margin-bottom: 16px
}

.emaki-custom .custom_block-content:last-of-type * {
    margin-bottom: 0
}



@media(min-width: 768px) {
    .emaki-custom.update .custom_block-content {
        margin-bottom:16px
    }

    .emaki-custom.update .custom_block-content:last-of-type {
        margin-bottom: 0
    }

    .emaki-custom.update .custom_block-content:first-of-type {
        margin-bottom: 16px
    }
}


@media(min-width: 768px) {
    .emaki-custom.key-points .custom_block-content {
        padding-left:1rem;
        border-left: 2px solid #f2f2f2
    }
}

@media screen and (min-width: 768px)and (prefers-color-scheme:dark) {
    .emaki-custom.key-points .custom_block-content {
        border-color:#333
    }
}

.emaki-custom.key-points .custom_block-content ul li {
    font-family: Roboto,sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    color: #0c0c0c;
    margin-bottom: 1rem
}

@media screen and (prefers-color-scheme: dark) {
    .emaki-custom.key-points .custom_block-content ul li {
        color:#f2f2f2
    }
}



#policyContent .static-list .emaki-custom .custom_block-content li,.emaki-custom .custom_block-content #policyContent .static-list li,.emaki-custom .custom_block-content p {
    margin-bottom: 16px
}

.emaki-custom .custom_block-content:last-of-type * {
    margin-bottom: 0
}